<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShopExpenseTracker">
        <activity
            android:name=".GroceryActivity"
            android:exported="false" />
        <!-- LOGIN (ENTRY POINT) -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- GOOGLE NAME (FIRST LOGIN ONLY) -->
        <activity
            android:name=".GoogleNameActivity"
            android:exported="false" /> <!-- HOME (MAIN DASHBOARD) -->
        <activity
            android:name=".HomeActivity"
            android:exported="false" /> <!-- USER DETAIL + HISTORY + TRANSFER -->
        <activity
            android:name=".UserDetailActivity"
            android:exported="false" /> <!-- PERSONAL EXPENSE -->
        <activity
            android:name=".AddPersonalExpenseActivity"
            android:exported="false" /> <!-- SHOP TRANSACTION HISTORY -->
        <activity
            android:name=".MainTransactionsActivity"
            android:exported="false" />
    </application>

</manifest>